<!DOCTYPE html>
<html lang="en">
<head>
    {% block head%}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="./styles/layout1.css" rel="stylesheet">
        <title>Layout</title>
    {% endblock %}
</head>
<body>
    {{ include('components/navbar.twig') }}

    <div class="content">
        {% block content %}

        {% endblock %}
    </div>
    <div class="footer">
        {% block footer %}
            {{ include('components/footer.twig') }}
        {% endblock %}
    </div>
</body>
</html>