<link href="./styles/footer.css" rel="stylesheet">

<div class="footer-content">
    <h4>Footer content</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem tenetur dolore facere porro facilis,
        neque amet ipsa similique saepe nostrum magni possimus atque dignissimos, iure sequi consectetur dolorem
        voluptates in.</p>
</div>