{# {% extends 'layouts/layout1.twig' %} #}

{# {% block head %}
{{ parent() }}
{% endblock %} #}
<link href="./styles/form.css" rel="stylesheet">
{# 
{% block content %}
{{ parent() }} #}

<div class="form-container">
    <form action="{{ _SERVER['PHP_SELF'] }}" method="post">
        <label>User name</label>
        <input type="text" name="nombre" placeholder="Nombre..." value=" ">
{# 
        <label>Apellido</label>
        <input type="text" name="apellido" placeholder="Apellido..."> #}

        <button name="submitButton" class="submit-button">Submit</button>
    </form>
</div>

<div class="data-container">
    <div class="data-show">
        <ul>
            <li>
                <p>{{ username }}</p>
            </li>
        </ul>
    </div>
</div>
{# 
{% endblock %}

{% block footer %}

{% endblock %} #}