<link href="./styles/navbar.css" rel="stylesheet">

<div class="navbar-container">
    <div class="navbar-content">
        <div class="navbar-logo">
            <a href="homePage.php">TwigApp</a>
        </div>
        <div class="navbar-items">
            <ul>
                <a href="page1x.php">Datos de usuario</a>
                <a href="page2x.php">Condicionales</a>
                <a href="page3x.php">Ciclos</a>
            </ul>
        </div>
        <div class="navbar-user-info">
            <p>{{ username }}</p>
        </div>
    </div>
</div>