
.footer{
    // background-color: #3396ff;
    width: 100%;
    height: fit-content;
    margin-top: 20%;
    // position: fixed;
    // bottom: 0;s
    
}

.footer-content{
    padding: 20px;
    border-top: 3px solid black;
}