<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head%}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../public/styles/css/styles.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/4e3f97f391.js"
      crossorigin="anonymous"
    ></script>
    <title>Layout</title>
    {% endblock %}
  </head>
  <body>
    {{ include("./components/navbar.twig") }}

    <div class="content">{% block content %} {% endblock %}</div>
    <div class="footer">
      {{ include("./components/footer.twig") }}
      {% block footer %} {% endblock %}
    </div>
  </body>
</html>
