{# {% extends 'layouts/layout1.twig' %} #} {# {% block head %}
{{ parent() }}
{% endblock %} #} {#
<link href="../public/styles/css/styles.css" rel="stylesheet" /> #} {# {% block
content %} {{ parent() }} #}

<div class="form-container">
  <form
    action="../controllers/save_task.php{#{{ _SERVER['PHP_SELF'] }}#}"
    method="POST"
  >
    <input type="text" name="nombre" placeholder="Nombre..." value="" />

    <input type="text" name="apellido" placeholder="Apellido..." value="" />

    <button type="submit" name="save_task" class="submit-button">submit</button>
  </form>
</div>

{# {% endblock %} {% block footer %} {% endblock %} #}
